body
{
    width:100%;
    
    margin:0px;
    color: black;
    padding:0px;
}
.topBar
{
    background: rgb(112, 114, 219);
    background: linear-gradient(180deg, rgb(226, 50, 217) 16%, rgb(87, 189, 207) 76%, rgb(41, 220, 233) 100%);
    width:100%;
    display:flex;
    justify-content:center;
    padding:15px;
    
}
p{
    font-size:16px;
    text-transform:capitalize;
}
.logodiv
{
    width:100px;
    height:100px;
    border-radius:50%;
    padding:15px;
    background-color:white;
}
.teamlogo
{
    width:100%;
    height:100%;
}
.teamtitle
{
    font-size:34px;
    font-weight:700;
    font-family: 'Pacifico', cursive;
    color:white;
    text-shadow:rgba(128, 134, 136, 0.842) 0px 2px 2px;
    text-transform:uppercase;
}
.grid
{
    box-shadow: 6px 6px 23px 5px rgba(0,0,0,0.34);
-webkit-box-shadow: 6px 6px 23px 5px rgba(16, 19, 19, 0.34);
-moz-box-shadow: 6px 6px 23px 5px rgba(32, 28, 28, 0.34);
    display:flex;
    width:350px;
    height:100px;
    cursor:pointer;
    /* background-color:rgba(0, 0, 0, 0.3);
    opacity:100; */
    margin-top: 40px;
    margin-left:10%;
}
.img
{
    width:60px;
    height:60px;
    border-radius:50%;
    padding:10px;
    background-color: white;
}
.gridlogo
{
    width:100%;
    height:100%;
}
.setstyle
{
    margin-left:15px;
    display:flex;
    flex-direction:column;
    
}
.setstyle p
{
    margin:0px;
    padding:0px;
}
.person
{
    color:black;
    font-size:18px;
    padding:0px;
    margin-bottom:0px;
    text-transform:uppercase;
}
.grids
{
    display:flex;
    flex-direction:column;
}
.box
{
    -webkit-box-shadow: 5px 5px 15px 5px #121414; 
box-shadow: 5px 5px 15px 5px #534f4f;
    width:500px;
    height:60vh;
    background-color:rgba(214, 242, 243, 0.514);
    padding: 20px;
    margin-top: 90px;
}
.pagepart
{
    display:flex;
    justify-content:space-around;
    background: rgb(88, 99, 204);
    background: linear-gradient(180deg, rgb(102, 241, 241) 0%, rgb(7, 238, 238) 6%, rgb(84, 170, 166) 100%);
}
.playertext
{
    margin-top:15px;
    font-size:33px;
}
.item
{
    box-shadow:2px 2px 2px rgb(22, 22, 22);
    margin-bottom:40px;
    color: rgb(24, 22, 22);
}
.value
{
    color:rgb(238, 41, 133);
    margin-left:13px;
}